In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('order_products__prior.csv', header=0)
df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [3]:
order_list = df.groupby('order_id')['product_id'].apply(list).reset_index()

In [9]:
print(order_list.head())

   order_id                                         product_id
0         2  [33120, 28985, 9327, 45918, 30035, 17794, 4014...
1         3  [33754, 24838, 17704, 21903, 17668, 46667, 174...
2         4  [46842, 26434, 39758, 27761, 10054, 21351, 225...
3         5  [13176, 15005, 47329, 27966, 23909, 48370, 132...
4         6                              [40462, 15873, 41897]

In [11]:
# sort the products in each order
def sort_products(x):
    x.sort()
    return x
order_list.product_id = order_list.product_id.apply(sort_products)

In [12]:
print(order_list.head())
order_list.to_csv('order_list.csv', index=False)

   order_id                                         product_id
0         2  [1819, 9327, 17794, 28985, 30035, 33120, 40141...
1         3  [17461, 17668, 17704, 21903, 24838, 32665, 337...
2         4  [10054, 17616, 21351, 22598, 25146, 26434, 277...
3         5  [6184, 6348, 8479, 9633, 12962, 13176, 13245, ...
4         6                              [15873, 40462, 41897]

In [13]:
products = pd.read_csv('products.csv', header=0)
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [20]:
first100 = order_list.head(100).copy()
# replace product_id with product_name
def replace_product_id(x):
    product_name = []
    for i in x:
        product_name.append(products[products.product_id == i].product_name.values[0])
    return product_name
first100.product_id = first100.product_id.apply(replace_product_id)

    order_id                                         product_id
0          2  [All Natural No Stir Creamy Almond Butter, Gar...
1          3  [Air Chilled Organic Boneless Skinless Chicken...
2          4  [Kellogg's Nutri-Grain Apple Cinnamon Cereal, ...
3          5  [Clementines, Mini Original Babybel Cheese, Or...
4          6  [Dryer Sheets Geranium Scent, Cleanse, Clean D...
..       ...                                                ...
95       103  [Major Dickason's Blend Ground Coffee Dark Roa...
96       104  [Watermelon Chunks, Total 0% Raspberry Yogurt,...
97       105  [Natural Artisan Water, Whole Milk, Seedless R...
98       106  [Original Slices Pepperoni, Whole Milk, Pasta ...
99       107  [1 Apple + 1 Pear Fruit Bar, Creamy Peanut But...

[100 rows x 2 columns]

In [25]:
expanded_df = first100.product_id.apply(pd.Series)
result_df = pd.concat([first100.drop('product_id', axis=1), expanded_df], axis=1)
result_df.head()
result_df.to_csv('sample_orders.csv', index=False)